* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  color: whitesmoke;
  background-color: #031926;
  color: #ffeeda;
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 10px;
}

header {
  text-align: center;
  padding: 20px;
  color: #ffeeda;
}

.hero {
  background-image: url("../images/tower-bridge.jpg");
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary {
  padding: 20px;
  border-radius: 20px;
  max-width: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.summary h2 {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0) !important;
  font-size: 2rem;
  padding: 40px;
  border-radius: 20px;
}

section {
  margin-bottom: 20px;
  padding: 8px;
}

iframe {
  overflow: hidden;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -35px;
}

.card {
  background-color: #ffeeda !important;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex: 1;
  min-width: calc(33% - 20px);
  height: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: transform 1500ms ease;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card:hover {
  transform: rotateY(180deg);
}

.card_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #ffeeda !important;
  color: #1a2e3a;
}

.card_front {
  position: absolute;
  backface-visibility: hidden;
  background-color: #ffeeda !important;
}

.card_front .card_title {
  background-color: #ffeeda !important;
  text-decoration: none;
}

.card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #1a2e3a !important;
  transform: rotateY(180deg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_back p {
  padding-top: 10px;
  background-color: #1a2e3a !important;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 12px;
}

button {
  background-color: #ff8800;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

footer {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
